.about{
    padding: 30vw 5vw;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about__heading{
        font-size: 2.5rem;
        position: relative;
        font-family: 'DM Serif Display', serif;
        &::before{
            content:'';
            position: absolute;
            height:0.1rem;
            background-color: rgba(131, 125, 135,0.5);
            left: 10%;
            right: 10%;
            top: -30px;
        }
    }
    .about-cards{
        .about-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5rem 0vw;
            .about-card-header{
                margin: 1rem 0rem;
                font-size: 2rem;
            }
            .about-card-desc{
                text-align: center;
                color: var(--DarkGrayishViolet);
            }
        }

    }
}

@media (min-width:760px){
    .about{
        padding: 20vw 10vw;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .about__heading{
            font-size: 3vw;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                height:0.1rem;
                background-color: rgba(131, 125, 135,0.5);
                left: 0%;
                right: 65%;
                top: -30px;
            }
        }
        .about-cards{
            display: flex;
            justify-content: space-between;
            .about-card{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 4rem 0vw;
                padding-right: 4vw;
                // .about-card-icon{
                //     svg{
                //         transform: scale(0.7);
                //     }
                // }
                .about-card-header{
                    margin: 1rem 0rem;
                    font-size: 1.5vw;
                    font-family: 'DM Serif Display', serif;
                }
                .about-card-desc{
                    text-align: left;
                    color: var(--DarkGrayishViolet);
                    font-size: 1vw;
                }
            }
    
        }
    }
}