.footer{
    margin-top: 10rem;
    background: url("images/bg-pattern-footer-mobile.svg") var(--VeryLightgray);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-header{
        margin-top: 5rem;
        img{
            width: 40vw;
            height: auto;
        }
    }
    .footer-social-links{
        width: 100%;
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 5rem;
        position: relative;
        svg{
            margin: 0rem 0.7rem;
            transform: scale(1.4);
        }
        &::before{
            content:"";
            position: absolute;
            left: 5%;
            right: 5%;
            top: 300%;
            height: 0.1rem;
            background-color: rgba(43, 39, 47,0.2)
        }
    }
    .footer-links{
        text-align: center;
        
        .footer-links-head{
            margin: 2rem 0rem;
            text-transform: uppercase;
            color: var(--DarkGrayishViolet);
            font-weight: 700;
        }
        .footer-links-link{
            text-transform: uppercase;
        }
    }
}
@media (min-width:760px){
    .footer{
        margin-top: 10rem;
        background: url("images/bg-pattern-footer-desktop.svg") var(--VeryLightgray);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem;
        padding-left: 10vw;
        padding-right: 10vw;
        .footer-top{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 3rem 0rem;
            position: relative;
            &::before{
                content:"";
                position: absolute;
                left: 0%;
                right: 0%;
                top: 200%;
                height: 0.1rem;
                background-color: rgba(43, 39, 47,0.2)
            }
        }
        .footer-header{
            margin-top: 0rem;
            img{
                width: 10vw;
                height: auto;
            }
        }
        .footer-social-links{
            width: auto;
            margin-top: 0rem;
            text-align: center;
            margin-bottom: 0rem;
            position: relative;
            svg{
                margin: 0rem 0.2rem;
                transform: scale(1);
                &:hover{
                    cursor: pointer;
                    & path{
                        fill: var(--DarkViolet);
                        
                    }
                    
                }
            }
            &::before{
                content:"";
                position: absolute;
                left: 5%;
                right: 5%;
                top: 300%;
                height: 0.1rem;
                background-color: rgba(43, 39, 47,0.2);
                display: none;
            }
        }
        .footer-bottom{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .footer-links{
            text-align: left;
            
            .footer-links-head{
                margin: 1rem 0rem;
                text-transform: uppercase;
                color: var(--DarkGrayishViolet);
                font-weight: 700;
                font-size: 1vw;
                letter-spacing: 1px;
            }
            .footer-links-link{
                text-transform: uppercase;
                font-size: 1vw;
                letter-spacing: 1px;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

}