.navbar{
    z-index: 3;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 5rem;
    padding: 0rem 1rem;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
    .navbar__action{
        .navbar__action__menu{
            border: 2px solid var(--DarkViolet);
            padding: 1rem 0.5rem;
            .navbar__action__menu__btn{
                width: 1.5rem;
                height: 0.2rem;
                background-color: var(--DarkViolet);
                position: relative;
                
                &::before{
                    content : '';
                    position: absolute;
                    background-color: var(--DarkViolet);
                    left: 0px;
                    right: 0px;
                    height: 0.2rem;
                    top: -0.5rem;
                    animation: closeNav 1s 1 forwards;
                }
                &::after{
                    content : '';
                    position: absolute;
                    background-color: var(--DarkViolet);
                    left: 0px;
                    right: 0px;
                    height: 0.2rem;
                    bottom: -0.5rem;
                    animation: closeNav2 1s 1 forwards;
                }
            }
            
        }
        .navbar__action__links{
            display: none;
        }
    }
    .navbar__action-close{
        .navbar__action__menu{
            border: 2px solid var(--DarkViolet);
            padding: 1rem 0.5rem;
            .navbar__action__menu__btn{
                width: 1.5rem;
                height: 0.2rem;
                background-color: var(--DarkViolet);
                position: relative;
                
                &::before{
                    content : '';
                    position: absolute;
                    background-color: var(--DarkViolet);
                    left: 0px;
                    right: 0px;
                    height: 0.2rem;
                    top: -0.5rem;
                    animation: closeNav 1s 1 forwards;
                }
                &::after{
                    content : '';
                    position: absolute;
                    background-color: var(--DarkViolet);
                    left: 0px;
                    right: 0px;
                    height: 0.2rem;
                    bottom: -0.5rem;
                    animation: closeNav2 1s 1 forwards;
                }
            }
            
        }
        .navbar__action__links{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 100%;
            background:url("images/bg-pattern-mobile-nav.svg") var(--VerydarkViolet);
            height: calc(100vh - 5rem);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 1rem;
            opacity: 1;
            animation: closemenubar 0.5s 1s 1 forwards;
            .navbar__action__links__link{
                color: white;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin: 1rem 0rem;
                letter-spacing: 2px;
                opacity: 1;
                
                @for $i from 1 to 4 {
                    &:nth-child(#{$i}){
                        animation: bringOutText 0.5s #{$i/7}s 1 forwards;
                    }
                }
                
            }
            .navbar__action__links__btn{
                color: white;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin: 1rem 0rem;
                letter-spacing: 2px;
                background-color: transparent;
                border: 2px solid white;
                padding: 0.5rem 0rem;
                width: 100%;
                opacity: 1;
                animation: bringOutText 0.5s 0.8s 1 forwards;

            }
        }
    }
    .navbar__action-open{
        
        .navbar__action__menu{
            
            border: 2px solid var(--DarkViolet);
            padding: 1rem 0.5rem;
            .navbar__action__menu__btn{
                width: 1.5rem;
                height: 0.2rem;
                background-color: var(--DarkViolet);
                position: relative;
                transform: rotate(45deg);
                
                &::before{
                    content : '';
                    position: absolute;
                    background-color: var(--DarkViolet);
                    left: 0px;
                    right: 0px;
                    height: 0.2rem;
                    top: -0.5rem;
                    transform: rotate(0deg);
                    animation: openNav 1s 1 forwards;
                }
                &::after{
                    content : '';
                    position: absolute;
                    background-color: var(--DarkViolet);
                    left: 0px;
                    right: 0px;
                    height: 0.2rem;
                    bottom: -0.5rem;
                    animation: openNav2 1s 1 forwards;

                }
            }
            
        }
        .navbar__action__links{
            // display: flex;
            position: absolute;
            left: -100px;
            right: -100px;
            top: 100%;
            background:url("images/bg-pattern-mobile-nav.svg") var(--VerydarkViolet);
            height: calc(100vh - 5rem);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 1rem;
            opacity: 0;
            animation: openmenubar 1s 1 forwards;
            .navbar__action__links__link{
                color: white;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin: 1rem 0rem;
                letter-spacing: 7px;
                opacity: 0;
                
                @for $i from 1 to 4 {
                    &:nth-child(#{$i}){
                        animation: bringInText 1s #{$i/3}s 1 forwards;
                    }
                }
                
            }
            .navbar__action__links__btn{
                color: white;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin: 1rem 0rem;
                letter-spacing: 7px;
                background-color: transparent;
                border: 2px solid white;
                padding: 0.5rem 0rem;
                width: 100%;
                opacity: 0;
                animation: bringInText 1s 1.2s 1 forwards;
                &:hover{
                    cursor: pointer;
                    background-color: white;
                    color:var(--VerydarkViolet);
                    position: relative;
                    &::before{
                        position: absolute;
                        content:'';
                        top: -5px;
                        bottom: -5px;
                        left: -5px;
                        right: -5px;
                        border: 2px groove white;
                    }
                }
            }
        }
    }
}
@keyframes openNav {
    0%{
        top:-0.5rem;
        transform: rotate(0deg);
    }
    50%{
        top:0rem;
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
        top:0rem;
    }
}
@keyframes openNav2 {
    0%{
        bottom:-0.5rem;
        transform: rotate(0deg);
        opacity:1;
    }
    50%{
        bottom:0rem;
        transform: rotate(0deg);
        opacity:1;
    }
    100%{
        transform: rotate(90deg);
        bottom:0rem;
        opacity: 0;
    }
}
@keyframes closeNav {
    0%{
        top:0rem;
        transform: rotate(0deg);
    }
    50%{
        top:-0.5rem;
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
        top:-0.5rem;
    }
}
@keyframes closeNav2 {
    0%{
        bottom:0rem;
        transform: rotate(0deg);
        opacity:0;
    }
    50%{
        bottom:-0.5rem;
        transform: rotate(0deg);
        opacity:1;
    }
    100%{
        bottom:-0.5rem;
        transform: rotate(0deg);
        opacity:1;
    }
}

@keyframes openmenubar {
    0%{
        left: -100px;
        right: -100px;
        opacity: 0;
    }
    100%{
        left: 0px;
        right: 0px;
        opacity: 1;
    }
}
@keyframes bringInText {
    0%{
        opacity: 0;
        letter-spacing: 7px;
    }
    90%{
        opacity: 1;
        letter-spacing: 2px;
    }
    100%{
        opacity: 1;
        letter-spacing: 2px;
    }
}
@keyframes closemenubar {
    0%{
        left: 0px;
        right: 0px;
        opacity: 1;
        display: flex;
    }
    90%{
        left: -100px;
        right: -100px;
        opacity: 0;
        display: flex;
    }
    100%{
        left: -100px;
        right: -100px;
        opacity: 0;
        display: none;
    }
}
@keyframes bringOutText {
    0%{
        opacity: 1;
        letter-spacing: 2px;
    }
    100%{
        opacity: 0;
        letter-spacing: 7px;
    }
}


@media (min-width:760px){
    .navbar{
        position: fixed;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 5rem;
        padding: 0rem 10vw;
        
        .navbar__action-close{
            position: relative;
            .navbar__action__menu{
                display: none;
                
            }
            .navbar__action__links{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background:none;
                height: auto;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
                flex-direction: row;
                padding: 0rem 0rem;
                animation: none;
                .navbar__action__links__link{
                    color: var(--DarkGrayishViolet);
                    text-transform: uppercase;
                    margin: 0rem 1vw;
                    letter-spacing: 1px;
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    opacity: 1;
                    animation: none;
                    width: 100%;
                    padding: 0rem;
                    white-space: nowrap;
                    position: relative;
                    @for $i from 1 to 4 {
                        &:nth-child(#{$i}){
                            animation:none;
                        }
                    }
                    &:hover{
                        cursor: pointer;
                        color: black;
                    }
                }
                .navbar__action__links__btn{
                    margin: 0rem 1vw;
                    background: transparent;
                    border: 2px solid var(--DarkViolet);;
                    padding: 0.5vw 2vw;
                    color: var(--DarkViolet);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 1rem;
                    background-color: transparent;
                    padding: 0.5rem 0rem;
                    width: 100%;
                    opacity: 1;
                    animation: none;
                    white-space: nowrap;

                }
            }
            
            
        }
        .navbar__action-open{
            .navbar__action__menu{
                display: none;
                
            }
            .navbar__action__links{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background:none;
                height: auto;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
                flex-direction: row;
                padding: 0rem 0rem;
                margin: 0rem;
                .navbar__action__links__link{
                    color: var(--DarkGrayishViolet);
                    text-transform: uppercase;
                    margin: 0rem 1vw;
                    letter-spacing: 1px;
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    opacity: 1;
                    animation: none;
                    width: 100%;
                    padding: 0rem;
                    white-space: nowrap;
                    &:hover{
                        cursor: pointer;
                        color: black;
                    }
                }
                .navbar__action__links__btn{
                    margin: 0rem 1vw;
                    background: transparent;
                    border: 2px solid var(--DarkViolet);;
                    padding: 0.5vw 2vw;
                    color: var(--DarkViolet);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 1rem;
                    background-color: transparent;
                    padding: 0.5rem 0rem;
                    width: 100%;
                    opacity: 1;
                    animation: none;
                    white-space: nowrap;
                }
            }
            
            
        }
        .navbar__action{
            .navbar__action__menu{
                display: none;
                
            }
            .navbar__action__links{
                display: flex;
                justify-content: center;
                align-items: center;
                .navbar__action__links__link{
                    color: var(--DarkGrayishViolet);
                    // font-size: 1.5rem;
                    text-transform: uppercase;
                    margin: 0rem 1vw;
                    letter-spacing: 1px;
                    &:hover{
                        cursor: pointer;
                        color: black;
                    }
                }
                .navbar__action__links__btn{
                    margin: 0rem 1vw;
                    background: transparent;
                    border: 2px solid var(--VerydarkViolet);;
                    padding: 0.5vw 2vw;
                    color: var(--DarkViolet);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    &:hover{
                        cursor: pointer;
                        background-color: var(--VerydarkViolet);
                        color:white;
                        position: relative;
                        &::before{
                            position: absolute;
                            content:'';
                            top: -5px;
                            bottom: -5px;
                            left: -5px;
                            right: -5px;
                            border: 2px groove var(--VerydarkViolet);
                        }
                    }
                }
            }
        }
    }
}