:root {
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);
    --VerydarkViolet: rgb(43, 39, 47);
    --DarkGrayishViolet: rgb(131, 125, 135);
    --VeryLightgray: hsl(0, 0%, 98%);
}